.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: lightpink;
  padding: 5px;
  gap: 5px;
}
.container div {
  background-color: limegreen;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}