.container {
  display: flex;
  flex-wrap: wrap;
  background-color: salmon;
}

.container div {
  background-color: limegreen;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}