body {
  background-color: salmon;
}

h1 {
  color: purple;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: salmon;
  justify-content: center;
}

.container div {
  background-color: limegreen;
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: purple;
  border: 3px solid purple;
}